// Custom.scss
// Fontes custom
@font-face {
  font-family: "Baguette";
  src: url("../../Recursos/Fuentes/Baguette/Baguette.ttf");
}
@font-face {
  font-family: "Magic-Bread";
  src: url("../../Recursos/Fuentes/Magic-bread/MagicBreadRegular.ttf");
}
// Importamos funciones , variables e mixins de bootstrap
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
// Cambiamos duas variables para integrar as novas fontes como por defecto
$font-family-sans-serif: Magic-Bread;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Baguette;

// Añadimos codigo extra para novos colores da paleta de colores seleccionada
$custom-colors: (
  "bgcolor": #dbdbdb,
  "header": #f7a325,
  "elementos": #ffc554,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../bootstrap/scss/bootstrap.scss";
